<div>
    <div [class.active]="joined" class="sign-up">
        <div class="sign-up-container">
            <div class="sign-up-icon">
                <img src="assets/img/logo.png" alt="">
            </div>

            <input type="text" [(ngModel)]="name"
                style="font-size:1.2em; width:100%; margin:1.2em auto; padding: 0.5em; text-align: center; border:none; "
                placeholder="Username">
            <button
                style="font-size:1.2em; width: 100%; margin:auto; padding:0.5em; border: none;  background-color: rgb(255, 255, 255);"
                (click)="join()">Join</button>
        </div>
    </div>



    <div [class.active]="!joined">

        <!-- header start -->
        <header>

            <nav>
                <div class="logo">
                    <img src="assets/img/logo.png" alt="" style="max-height:100%;">
                </div>
                <ul>
                </ul>
                <div class="user">
                    <div class="user-img">
                        <a routerLink="user"><img src="assets/img/pp.jpg" alt="" style="max-width:100%;"></a>

                    </div>

                    <a routerLink="user"
                        style="text-decoration: none; color:rgb(255, 255, 255);  margin-top:0.5em; margin-left: 1em;">{{id.id}}</a>
                </div>
            </nav>

        </header>


        <!-- header end -->

        <div class="main-container">
            <div class="accounts">
                <ul>
                    <li class="friend" *ngFor="let f of friendsOnline" (click)=check(f); (click)="select(f)">
                        <img src="assets/img/logo.png" alt="">
                        <p>
                            {{f.id.name}}
                        </p>
                        <span [class.new-ms]="f.newMs">
                            1</span>
                    </li>
                </ul>
            </div>
            <div class="chat">
                <div class="messages">
                    <div *ngIf="to">
                        <div class="chat-info">
                            <img src="assets/img/icon.png" alt="">
                            <p>{{to.id.name}}</p>
                        </div>
                    </div>
                    <ul *ngIf="to">
                        <li *ngFor="let m of to.messages">
                            <span>
                                {{m.id.name}} :
                            </span>
                            {{m.message}}
                        </li>
                    </ul>
                </div>
                <div class="type-area">
                    <input type="text" [(ngModel)]="txt">
                    <button class="send" (click)="send()">
                        Send
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>